:root {
    --paragraph-color: #7E7D7D;
    --border-radius: 6px;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    width: 100%;
    height: 100vh;
}

header {
    margin: 20px 0 40px;
}
header h1 {
    text-align: center;
}
section {
    padding: 30px;
}

section h1 {
    padding: 20px 70px 30px;
}

section div * {
    margin-right: 15px; 
}
select {
    height: 40px;
    padding-left: 0.5em;
    padding-right: 2em;
    width: 150px;
    border-radius: var(--border-radius);
    border: 1px solid #888;
    font-family: inherit;
    appearance: none;
 }
 .select-container {
    position: relative;
    display:inline-block;
 }
 .select_arrow {
    position: absolute;
    right:0.3em;
 }

input {
    height: 40px;
    width: 100%;
    max-width: 300px;
    border-radius: var(--border-radius);
    border: 1px solid #888;
    font-family: inherit;
 }

 select {
    height: 40px;
    padding-left: 0.5em;
    padding-right: 2em;
    width: 150px;
    border-radius: var(--border-radius);
    border: 1px solid #888;
    font-family: inherit;
    appearance: none;
 }
 ::placeholder {
    color: #bbb;
    padding-left: 5px; 
 }
button {
    margin-top: 1em;
    appearance: none;
    height: 40px;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: var(--border-radius);
    cursor: pointer;
    background: #64CDDB;
    outline: 0;
    border:0;
    color: #fff;
    font-weight:bold;
    border-bottom: 4px solid #38BED3;
 }

button:focus {
    outline: #39A7B8 auto 1px;
 }

 .task-items .task #project-title {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
 }
 .task {
    display: flex;
    align-items: center;
 }

 .watch .time {
    font-size: 3rem;
    font-weight: 300;
    padding: 0 1rem 0 1rem;
 }
.task-items .columns {
    display: flex;
    padding-left: 5em;
    flex-direction: row;
}

.task-items .columns h3 {
    padding-right: 11rem;
}

.daily-spend-items .task span {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.daily-spend-items .task span:nth-child(1) {
    padding-left: 0;
    min-width: 300px;
}

.daily-spend-items .task span:nth-child(3) {
    padding-left: 4em;
    min-width: 300px;
}

.total-time{
    display: flex;
    justify-content: space-around;
    padding-top:20px;
}

.total-time h1{
    font-size: 32px;
    font-weight: 500;
}
.total-time span{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.watch {
    display: flex;
    justify-content: center;
}